<div style="margin: 10px">

<% if @track && @track.errors.any? %>
  <div style="color: #CC0000; display: inline-block;" class="alert alert-danger">
    <strong>Some issues with your song post. Please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/tracks">
  <div class="form-group">
    <label>Song Title:</label>
    <br>
    <input type="text" name="song_title" value="<%= @track.song_title %>">
  </div>
  <div class="form-group">
    <label>Author:</label>
    <br>
    <input type="text" name="author" value="<%= @track.author %>">
  </div>
  <div class="form-group">
    <label>URL:</label>
    <br>
    <input type="text" name="url" value="<%= @track.url %>">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>