<form method="post" action="/tracks">
  <div>
    <label>Song Title:</label>
    <br>
    <input type="text" name="song_title" value="<%= @track.song_title %>"">
  </div>
  <div>
    <label>Author:</label>
    <br>
    <input type="text" name="author" value="<%= @track.author %>">
  </div>
  <div>
    <label>URL:</label>
    <br>
    <input type="text" name="url" value="<%= @track.url %>">
  </div>
  <div>
    <input type="submit" name="Submit">
  </div>
</form>