<div style="margin: 10px">
  <h2 style="color: #ff014e"><%= @track.song_title %> <small style="color: #000000">(by: <%= @track.author %>)</small></h2>
  <small style="color: #0000CC">(time: <%= @track.created_at %>)</small>
</div>

