<div style="margin: 10px">

<h1>Log In Page</h1>

<form method="post" action="/login">

  <div class="form-group">
    <label>Username:</label>
    <br>
    <input type="text" name="username">
  </div>

  <div class="form-group">
    <label>Password:</label>
    <br>
    <input type="password" name="password">
  </div>

  <button type="submit" class="btn btn-default">Log In</button>

</form>

</div>